h2 {
	color: #cb1744; /*color change*/
}

h3 {
	color: #cb1744; /*color change*/
}

a.moreNumber,.ui-widget-content a {
	color: #b40026;
}

h4 {
	color: #292929;
}

h4 .searchString {
	color: #cb1744; /*color change*/
}

.headWrapper .header .logoWrapper .logoImg {
	width: 310px;
	height: 105px;
	background: url(../images/corporate/logo.gif) 20px 30px no-repeat;
	/*img change*/
}

.headWrapper .header .globalLinksWrapper .globalLinkAccountName {
	background-image: url(../images/corporate/profileArrowDown.png);
	/*img change*/
	color: #b40026; /*color change*/
}

.headWrapper .header .globalLinksWrapper .store {
	background-color: #f4f4f4;
	border: solid 1px #ececec;
}

.headWrapper .header .globalLinksWrapper .ui-state-active {
	background-color: #dd1c26; /*change color*/
	color: #fff;
	background-image: url(../images/corporate/profileArrowUp.png);
}

.userProfile .ui-menu ul {
	border: solid 1px #ff4e53; /* color change*/
}

.userProfile .ui-menu ul.ui-menu li {
	border-bottom: solid 1px #ff4e53; /* color change*/
}

.userProfile .ui-menu ul.ui-menu li:hover {
	background: #f3f3f3; /* color change*/
}

.userProfile .ui-menu ul.ui-menu li:hover a {
	color: #494949;
}

.userProfile .ui-menu ul.ui-menu li a {
	color: #b40026; /* color change*/
}

.headWrapper{
	background:#fff url(../images/corporate/headerBg.gif) left top repeat-x;
}
.headWrapper .navWrapper {
	background: #ce022b url(../images/corporate/navBg.gif) left top repeat-x;
	/* img and color nav change*/
	/*background: url("../images/corporate/navBg.gif") repeat-x scroll left top #252525; */
	color: #77c250;
}

.headWrapper  .breadcrumbWrapper {
	background-color: #e5e5e5;
}

.headWrapper  .breadcrumbWrapper .breadcrumbs {
	color: #2d2d2d;
}

.breadcrumbWrapper .breadcrumbs ul li {
	background: url(../images/breadcrumbArrow.png) right 2px no-repeat;
}

.breadcrumbWrapper .breadcrumbs ul li a {
	color: #2d2d2d;
}

.breadcrumbWrapper .breadcrumbs ul li a:hover {
	color: #b40026;;
}

.articleHead {
	background-color: #f2f2f2;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f2f2f2),
		to(#d7d7d7) ); /* color change*/
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #f2f2f2, #d7d7d7);
	/* color change*/
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #f2f2f2, #d7d7d7);
	/* color change*/
	border: solid 1px #dddddd; /* color change */
}

.articleHead .articleHeaderWrapper .articleTitle,.ui-tabs-vertical .ui-tabs-panel .sectionTitle
	{
	color: #cb1744; /* color change*/
}

.articleHead .articleHeaderWrapper .articleTitle span {
	color: #696969; /* color change*/
}

.articleHead .articleHeaderWrapper p {
	color: #252525; /* color change */
}

.articleDate {
	color: #696969; /* color change*/
}

/* Page title */
.pageTitleWrapper h2.pageTitle {
	color: #b40026; /* color change*/
}

.actionBtn,.secondaryActionBtn,.tableActionsWrapper .formWrapper .parameter .selectDropdown label.actionBtn,.wizardContent .jw-buttons .actionBtn,.tableActionsWrapper .formWrapper .parameter .selectDropdown label.secondaryActionBtn,.selectDropdown .dropdown li:hover label.actionBtn
	{
	background: #608f06; /* color change*/
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#a6c42e),
		to(#608f06) ); /* color change*/
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #a6c42e, #608f06);
	/* color change*/
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #a6c42e, #608f06);
	/* color change*/
	border: solid 1px #78ad12; /* color change*/
	color: #fff;
}

.actionBtn:hover,.wizardContent .jw-buttons .actionBtn:hover,.tableActionsWrapper .formWrapper .parameter .selectDropdown label.actionBtn:hover,.selectDropdown .dropdown li label.actionBtn:hover
	{
	background: #608f06; /* color change*/
}

.secondaryActionBtn,.wizardContent .jw-buttons .secondaryActionBtn,.tableActionsWrapper .formWrapper .parameter .selectDropdown label.secondaryActionBtn,.selectDropdown .dropdown li:hover label.secondaryActionBtn
	{
	background: #999999;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#999999),
		to(#666666) );
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #999999, #666666);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #999999, #666666);
	border: solid 1px #666666;
	color: #fff;
}

.secondaryActionBtn:hover,.wizardContent .jw-buttons .secondaryActionBtn:hover,.tableActionsWrapper .formWrapper .parameter .selectDropdown label.secondaryActionBtn:hover,.selectDropdown .dropdown li label.secondaryActionBtn:hover
	{
	background: #666666;
}

.contentWrapper .articleContent,.contentWrapper .detailsSections .articleHead
	{
	background-color: #f5f5f5;
	/* grey back of article table dif woolworths */
	border: solid 1px #eae9e9; /* d4cbc0 - for lighter theme */
	border-top: none;
}

.contentWrapper .detailsSections .articleHead {
	background: #fff;
}

.articleContentInner .articleDetails {
	border: solid 1px #e0e0e0;
}

.articleContentInner .articleInfoTop {
	background: #464d57;
}

.articleContentInner .articleInfoBottom {
	background: #464d57;
}

.articleContentInner .articleInfo {
	background: #464d57;
}

.articleContentInner .articleDetails tr th,.contentWrapper .orderDetails .articleContentInner .articleDetails tr td.subTitle
	{
	background: #c0c5ca;
	color: #2d2d2d;
}

.articleContentInner .articleDetails tr td {
	border-bottom: solid 1px #f5f5f0;
	color: #222222;
}

.articleContentInner .articleDetails tr th label.history {
	color: #cb1744;
}

span.summaryInfo {
	color: #cb1744; /* color change */
}

.contentWrapper .articleAdditionalInfo h3 {
	background: #f3f4f5;
}

.contentWrapper .articleAdditionalInfo h3.ui-accordion-header-active {
	background: #d8d8d8; /* color change*/
	border: solid 1px #bebebe; /* color change*/
}

.contentWrapper  .ui-widget-content .ui-tabs-nav li,.popupWrapper  .ui-widget-content .ui-tabs-nav li
	{
	background: #EFEFEF;
	border: solid 1px #EDEDED;
}

.contentWrapper  .sectionTabs .ui-tabs-nav li {
	border: solid 1px #d2d2d2;
}

.contentWrapper  .ui-widget-content .ui-tabs-nav li:hover,.popupWrapper  .ui-widget-content .ui-tabs-nav li:hover
	{
	background: #d8d8d8; /* color change*/
	border: 1px solid #bebebe; /* color change*/
}

.ContentTableWrapper .noTableSort tr:hover td,.ContentTableWrapper .noTableSort tr:hover td.sorted
	{
	background-color: #ffedea;
}

/* Style for Home page */
.homeLinkTextDescription {
	color: #646363;
}

.homeLinkText {
	color: #b40026; /* color change*/
}

.homeContentWelcomeTitle {
	color: #b40026; /* color change*/
}

.homeBorderHorz { /* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 20%, 80% 100%, from(#FFFFFF),
		to(#D3D3C9) );
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #FFFFFF, #D3D3C9);
	/* Firefox 3.6+ */
	background-image: -moz-linear-gradient(left center, #FFFFFF 0%, #D3D3C9 20%, #D3D3C9 80%,
		#FFFFFF 100%);
}

.reportsHome {
	background: url("../images/corporate/reports_icon.png") no-repeat scroll
		center top transparent; /* img change*/
}

.ticketingHome {
	background: url("../images/corporate/ticketing_icon.png") no-repeat
		scroll center top transparent; /* img change*/
}
/* included extra classes for mobile shortcuts defect no 6358*/
.pricingHome,.pricing-home {
	background: url("../images/corporate/pricing_icon.png") no-repeat scroll
		center top transparent; /* img change*/
}

.stockManagementHome,.stock-home {
	background: url("../images/corporate/stockManagement_icon.png")
		no-repeat scroll center top transparent; /* img change*/
}

.iconlookupHome,.lookup-home {
	background: url("../images/corporate/iconlookup_icon.png") no-repeat
		scroll center top transparent; /* img change*/
}

.ordersHome,.orders-home {
	background: url("../images/corporate/orders_icon.png") no-repeat scroll
		center top transparent; /* img change*/
}

/* -------------------- */
/* Styles for Lookup Page */
.lookupWrapper {
	background: #D7D7D7 url(../images/shadowLookup.png) 0 1px no-repeat;
	/* color change but no img change*/
	border: solid 1px #cfcfcf; /* color change*/
	border-top: none;
}

.lookupWrapper .lookupParamWrapper .searchBox {
	border: 1px solid #D9D9D9;
}

.lookupWrapper .lookupParamWrapper .searchBox input.inputDate {
	background: url(../images/corporate/iconCalendar.png) right 5px
		no-repeat; /*img change*/
	border-left: dotted 1px #C0C5CA;
}

.lookupWrapper .lookupParamWrapper .searchByOptions label {
	color: #585858;
}

.lookupWrapper .lookupParamWrapper .advancedParam .parameter label {
	color: #585858;
}

.lookupWrapper .lookupParamWrapper .advancedParam .parameter label.advancedSearch,.lookupWrapper .lookupParamWrapper .advancedParam .parameter label.newWindow
	{
	font-weight: normal;
	color: #CB1744; /* color change*/
}

.advancedSearchFormatWrapper {
	background: #D7D7D7; /* color change*/
	border: solid 1px #cfcfcf; /* color change*/
	-webkit-box-shadow: 0 8px 6px -9px black;
	-moz-box-shadow: 0 8px 6px -9px black;
	box-shadow: 0 8px 6px -9px black;
	border-top: 0 none;
}

/* -------------------- */
input.inputDate {
	background: #fff url(../images/corporate/iconCalendar.png) 95% 4px
		no-repeat; /* img change*/
}

input.inputTime {
	background: #fff url(../images/corporate/iconHistory.png) 95% 6px
		no-repeat;
}

label.linkBtn,label.linkBtn a {
	color: #CB1744; /* color change*/
}

label.linkBtn .advancedSearch {
	background: url(../images/corporate/iconAdvancedSearch.png) 0 2px
		no-repeat; /* img change*/
}

.newWindow {
	background: url(../images/corporate/iconNewWindow.png) 0 center
		no-repeat;
}

.newWindowAfter {
	background: url(../images/corporate/iconNewWindow.png) right center
		no-repeat;
}
.newWindowDisPre {
	background: url(../images/corporate/iconDisPre.png) right center
		no-repeat;
}

label.linkBtn .closeWindow {
	background: url(../images/corporate/iconCloseWindow.png) 0 3px no-repeat;
	/* img change*/
}

label.linkBtn .unselect {
	background: url(../images/corporate/iconUnselectMulti.png) 0 3px
		no-repeat;
}

label.selectItem {
	background: url(../images/corporate/iconArrowRight.png) right 2px
		no-repeat; /* img change*/
}

label.addRow {
	background: url(../images/corporate/iconAdd.png) left 4px no-repeat;
	/* img change*/
}

label.filter {
	background: url(../images/corporate/iconFilter.png) left 2px no-repeat;
	/* img change*/
}

label.moreActions {
	background: url(../images/corporate/profileArrowDown.png) right center
		no-repeat; /* img change*/
}

label.group {
	background: url(../images/corporate/iconGroupBy.png) left 2px no-repeat;
}

label.editRecord {
	background: url(../images/corporate/iconEditRow.png) center top
		no-repeat; /* img change*/
}

label.deleteRecord {
	background: url(../images/corporate/iconDelete.png) center top no-repeat;
	/* img change*/
}

label.saveRecord {
	background: url(../images/corporate/iconSave.png) center top no-repeat;
	/* img change*/
}

label.changePassword {
	background: url(../images/corporate/iconKey.png) center center no-repeat;
}

label.deactivateUser {
	background: url(../images/corporate/iconDeactivateUser.png) center top
		no-repeat;
}

label.history {
	background: url(../images/corporate/iconHistory.png) left top no-repeat;
	color: #4ba4c4;
	margin-right: 10px;
}

label.notpadLink {
	background: url(../images/corporate/iconPadTick.png) left top no-repeat;
	color: #4ba4c4;
	margin-right: 10px;
}

label.notes {
	background: url(../images/corporate/iconNote.png) left top no-repeat;
	color: #4ba4c4;
	margin-right: 10px;
}

label.offers {
	background: url(../images/corporate/iconTag.png) left top no-repeat;
	color: #00501f;
	margin-right: 10px;
}

a.navigate {
	background: url(../images/corporate/iconArrowRight.png) right center
		no-repeat;
	padding-right: 10px;
	color: #4ba4c4;
}

.bookmark {
	background: url(../images/corporate/iconBookmark.png) left 1px no-repeat;
}

/* up to here */
.formWrapper .parameter label.advancedSearch {
	color: #CB1744; /* color change*/
}

table.treetable tr.collapsed span.indenter a {
	background-image: url("../images/corporate/iconExpandNode.png");
	/* img change*/
}

table.treetable tr.expanded span.indenter a {
	background-image: url("../images/corporate/iconCollapseNode.png");
	/* img change*/
}

table.treetable tr.selected { /*background-color: #3875D7;*/ /* blue*/
	
}

table.treetable tr.collapsed.selected span.indenter a {
	background-image: url("../images/corporate/iconExpandNode.png");
	/* img change*/
}

table.treetable tr.expanded.selected span.indenter a {
	background-image: url("../images/corporate/iconCollapseNode.png");
	/* img change*/
}

table.treetable tr.accept { /*background-color: #A3BCE4;*/ /*blue*/
	
}

table.treetable tr.collapsed.accept td span.indenter a {
	background-image: url("../images/corporate/iconExpandNode.png");
	/* img change*/
}

table.treetable tr.expanded.accept td span.indenter a {
	background-image: url("../images/corporate/iconCollapseNode.png");
	/* img change*/
}

.ContentTableWrapper .treetable tr td {
	color: #222222;
}

table.drilldownTable  tr.expanded td,table.drilldownTable  tr.defaultExpanded td,.ContentTableWrapper .ContentTable tr td.rowSection.rowHighlight
	{
	background-color: #fee0dc !important; /* color change*/
	color: #cb1744 !important; /* color change*/
}

table.drilldownTable tr.collapsed span.indenter a,table.drilldownTable th span.indenter a.expandAll
	{
	background-image: url("../images/corporate/iconOpenAccordion.png");
	/* img change*/
}

table.drilldownTable tr.expanded span.indenter a,table.drilldownTable th span.indenter a.collapseAll
	{
	background-image: url("../images/corporate/iconCloseAccordion.png");
	/* img change*/
}

.formWrapper .parameter label {
	color: #222222; /* color change*/
}

.formWrapper .parameter .advancedSearch {
	color: #cb1744;
}

/*CheckBox dropdown*/
.selectDropdown .dropdown li label {
	border-bottom: 1px solid #f99caf;
}

/* Hover state */
.selectDropdown .dropdown li:hover label {
	background: #ffe1dd;
}

/* Style for popups */
.popupWrapper {
	border: 1px solid #d0052a; /* color change  */
}

.popupWrapper .ui-dialog-titlebar {
	background: #b40026; /* color change  */
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f03d20),
		to(#cd002b) ); /* color change  */
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #f03d20, #cd002b);
	/* color change  */
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #f03d20, #cd002b);
	/* color change  */
	border-color: #cd002b; /* color change  */
}

.popupWrapper  .ui-dialog-content .popupContent .popupActionsWrapper {
	background: #eeeeee; /* color change  */
	border-top: dotted 1px #c0c5cd; /* color change  */
}

/* Style for Date picker */
.ui-datepicker {
	border: solid 1px #b40026; /* color change */
}

.ui-datepicker .ui-datepicker-header,.ui-timepicker .ui-timepicker-title,.ui-timepicker .ui-timepicker-hour-cell .ui-state-active,.ui-timepicker .ui-timepicker-minute-cell .ui-state-active,.ui-datepicker .ui-datepicker-current-day .ui-state-active
	{ /* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f03d20),
		to(#cd002b) ); /* color change*/
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #f03d20, #cd002b);
	/* color change*/
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #f03d20, #cd002b);
	/* color change*/
	border: solid 1px #cd002b; /* color change*/
}

.ui-datepicker th,.ui-timepicker th {
	color: #4ba4c4; /* color change */
}

.ui-timepicker .ui-timepicker-hour-cell .ui-state-active,.ui-timepicker .ui-timepicker-minute-cell .ui-state-active,.ui-datepicker .ui-datepicker-current-day .ui-state-active
	{
	color: #fff;
}

/* Nav Bar css manipulation */
.sf-menu li a:hover {
	background-color: #b40026;
	color: #fff;
}

/**** Selected Menu ***/
.sf-menu li.selectedMenu {
	border-top: solid 5px #b40026; /* color change */
}

.active-bar,.selected-menu {
	background: #b40026;
}

.text-color {
	color: #fff;
}

.text-color a {
	color: white; /* color change */
}

.sf-menu li {
	background-image: url(../images/corporate/mainNavDivider.gif);
	color: #CB1744; /* color change */
}

.sf-menu ul li {
	background: #d61028;
}

.sf-menu li.home a {
	background-image: url(../images/corporate/homeIcon.png); /* img change*/
	background-position: 32px 19px;
	background-repeat: no-repeat;
}

.reportBtmBrdr {
	border-bottom: 1px solid #fa6f92;
}

.innermenu li a:hover {
	background-color: #b40026; /* color change*/
	color: #fff; /* color change*/
}

/* styling for both css and generated arrows */
.sf-arrows .sf-with-ul:after {
	border-top-color: #ffe4e1;
	/* edit this to suit design (no rgba in IE8) */
	border-top-color: rgba(255, 255, 255, .5);
}

.footer .policyInfo a:hover {
	color: #CB1744; /* color change*/
}

/* JqueryUI css manipulation */
.contentWrapper .articleAdditionalInfo h3.ui-accordion-header-active {
	background: #d4d4d4; /*color change*/
	border-color: #cacaca; /* color  change*/
}

.contentWrapper  .ui-widget-content .ui-tabs-nav li:hover {
	background: #ffe4e1; /*color change*/
	border-color: #fbcdc8; /* color  change*/
}

.contentWrapper  .ui-widget-content li.ui-tabs-active,.popupWrapper  .ui-widget-content li.ui-tabs-active,.contentWrapper  .ui-widget-content li.ui-tabs-active:hover,.popupWrapper  .ui-widget-content li.ui-tabs-active:hover,.popupWrapper .ui-dialog-titlebar,.contentWrapper  .sectionTabs.ui-tabs .ui-tabs-nav li.ui-tabs-active:hover
	{
	background: #cd002b; /* color  change*/
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f03d20),
		to(#cd002b) ); /* color  change*/
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #f03d20, #cd002b);
	/* color  change*/
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #f03d20, #cd002b);
	/* color  change*/
	border-color: #cd002b; /* color  change*/
	color: white; /* color  change*/
}

.contentWrapper  .ui-widget-content li.ui-tabs-active.highlightTab,.popupWrapper  .ui-widget-content li.ui-tabs-active.highlightTab,.contentWrapper  .ui-widget-content li.ui-tabs-active.highlightTab:hover,.popupWrapper  .ui-widget-content li.ui-tabs-active.highlightTab:hover,.contentWrapper  .sectionTabs.ui-tabs .ui-tabs-nav li.ui-tabs-active.highlightTab:hover
	{
	background: #cd002b; /* color  change*/
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f03d20),
		to(#cd002b) ) !important; /* color  change*/
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #f03d20, #cd002b) !important;
	/* color  change*/
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #f03d20, #cd002b) !important;
	/* color  change*/
	border-color: #cd002b !important; /* color  change*/
	color: white !important; /* color  change*/
}

.contentWrapper  .ui-tabs .ui-tabs-nav,.reportWrapper .ui-tabs .ui-widget-content .ui-tabs .ui-tabs-nav
	{
	border-color: #cd002b; /* color  change*/
}

.contentWrapper  .ui-widget-content .ui-tabs-nav li a {
	color: #cb1744; /* color  change*/
}

.ui-state-default,.ui-widget-content .ui-state-default,.reportWrapper h4.innerTitle
	{
	color: #cb1744; /* color  change*/
}

.ui-state-default .ui-icon {
	background-image: url("../images/corporate/iconOpenAccordion.png");
	/* img change*/
}

.ui-state-active .ui-icon {
	background-image: url("../images/corporate/iconCloseAccordion.png");
	/* img change*/
}

.ui-widget-content {
	border: 1px solid #cacaca;
}

.ContentTableWrapper .actionRows tr:hover td {
	background-color: #ffe0dc;
}

.ContentTableWrapper .actionRows tr:hover td.sorted {
	background-color: #f99496;
}
/* stocktake Pagination issue Fix */
/* .noChildNew .sorted .actionRows:hover tr td {
	background-color: #ffffff;
}
.noChildNew .sorted:hover .actionRows tr td {
	background-color: #ffffff;
}

.noChildNew_missed .sorted .actionRows:hover tr td {
	background-color: #ffffff;
}
.noChildNew_missed .sorted:hover .actionRows tr td {
	background-color: #ffffff;
} */

/* wizard css*/
.wizardContent .jw-widget.jw-hasmenu .jw-menu-wrap .jw-menu {
	background: #f2f2f2;
}

.wizardContent .ui-state-highlight {
	background: #d7d7d7;
}

.wizardContent .ui-widget-content .ui-state-highlight a {
	color: #000;
}

.wizardContent .ui-widget-content .ui-state-focus {
	border: solid 1px #ffe3e1;
}

.wizardPage .wizardContent .jw-widget .jw-steps-wrap {
	border-bottom: solid 5px #e42924;
}

.articleContentInner .articleImg.articleImgDefault {
	background-image: url("../articleimages/corporate/productDefault.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	min-height: 155px;
	background-size: 100%;
}

.ui-tabs-vertical .ui-tabs-panel {
	border-color: #cd002b;
}
.ticketingHome {
	background: url("../images/corporate/ticketing_icon.png") no-repeat
		scroll center top transparent;
}