/*login page css*/
html {
	background: #f2f2f2 url(../images/verticalBg.png) center top repeat-y;
	margin: 0;
	padding: 0;
	height: 100%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 75%;
	margin: 0;
	padding: 0;
	font-weight: normal;
	height: 100%;
	overflow-y: hidden; /*My change*/
}

p,div,h1,h2,h3,ul,li {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.mainWrapper {
	width: 980px;
	margin: 0 auto;
	height: 100%;
	background-color: #ffffff;
}

.loginWrapper { /*margin: 0 auto;
	float: centre;
	width: 325px;*/
	width: 325px;
	position: absolute;
	top: -110px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	margin: auto;
	max-height: 356px;
}

.woolworths .loginHeader {
	height: 70px;
	background: url(../images/woolworths/logo.gif) center no-repeat;
	padding-top: 7px;
}

.countdown .loginHeader {
	height: 70px;
	background: url(../images/countdown/logo.gif) center no-repeat;
	padding-top: 7px;
}

.petrol .loginHeader {
	height: 70px;
	background: url(../images/petrol/logo.gif) center no-repeat;
	padding-top: 7px;
}

.bws .loginHeader {
	height: 80px;
	background: url(../images/bws/logo.gif) center no-repeat;
	padding-top: 7px;
}

.bigw .loginHeader {
	height: 95px;
	background: url(../images/bigw/logo.gif) 6px no-repeat;
	padding-top: 7px;
}

.danmurphy .loginHeader {
	height: 70px;
	background: url(../images/danmurphy/logoLogin.gif) center no-repeat;
	padding-top: 7px;
}

.thomasdux .loginHeader {
	height: 70px;
	background: url(../images/thomasdux/logo.gif) center no-repeat;
	padding-top: 7px;
}

.metro .loginHeader {
    height: 70px;
    background: url(../images/metro/logo.jpg) 45px 0px no-repeat;
    background-size: 200px;
    padding-top: 7px;
}

.signinBox {
	margin: 12px 0 0;
	padding: 20px;
	border-radius: 5px 5px;
}

.woolworths  .signinBox ,.metro  .signinBox {
	background: none repeat scroll 0 0 #f6fde7;
	border: 1px solid #c8f369;
}

.countdown .signinBox {
	background: none repeat scroll 0 0 #f6fde7;
	border: 1px solid #c8f369;
}

.petrol .signinBox {
	background: none repeat scroll 0 0 #f6fde7;
	border: 1px solid #c8f369;
}

.bws  .signinBox {
	background: none repeat scroll 0 0 #feeddb;
	border: 1px solid #fcd3a9;
}

.bigw  .signinBox {
	margin: -1px 0 0;
	background: none repeat scroll 0 0 #dcf4ff;
	border: 1px solid #9edef9;
}

.danmurphy  .signinBox {
	background: none repeat scroll 0 0 #D6DFCA;
	border: 1px solid #AFC59B;
}

.thomasdux  .signinBox {
	background: none repeat scroll 0 0 #eeebe6;
	border: 1px solid #d4d4d4;
}

.signinTitle {
	font-weight: normal;
	font-size: 16px;
	color: #222222;
}

.woolworths .petrolTitle,.woolworths .countdownTitle,.woolworths .bwsTitle,.woolworths .bigwTitle,.woolworths .danmurphyTitle,.woolworths .thomasduxTitle
	{
	display: none;
}

.petrol .woolworthsTitle,.petrol .countdownTitle,.petrol .bwsTitle,.petrol .bigwTitle,.petrol .danmurphyTitle,.petrol .thomasduxTitle
	{
	display: none;
}

.countdown .woolworthsTitle,.countdown  .petrolTitle,.countdown  .bwsTitle,.countdown  .bigwTitle,.countdown  .danmurphyTitle,.countdown  .thomasduxTitle
	{
	display: none;
}

.bws .woolworthsTitle,.bws  .petrolTitle,.bws  .countdownTitle,.bws  .bigwTitle,.bws  .danmurphyTitle,.bws  .thomasduxTitle
	{
	display: none;
}

.bigw .woolworthsTitle,.bigw  .petrolTitle,.bigw  .countdownTitle,.bigw  .bwsTitle,.bigw  .danmurphyTitle,.bigw .thomasduxTitle
	{
	display: none;
}

.danmurphy .woolworthsTitle,.danmurphy  .petrolTitle,.danmurphy  .countdownTitle,.danmurphy  .bwsTitle,.danmurphy  .bigwTitle,.danmurphy .thomasduxTitle
	{
	display: none;
}

.thomasdux .woolworthsTitle,.thomasdux  .petrolTitle,.thomasdux  .countdownTitle,.thomasdux  .bwsTitle,.thomasdux  .bigwTitle,.thomasdux .danmurphyTitle
	{
	display: none;
}
.metro  .petrolTitle,.metro  .countdownTitle,.metro  .bwsTitle,.metro  .bigwTitle,.metro .danmurphyTitle,.metro .thomasduxTitle
	{
	display: none;
}

.errorDiv {
	padding-top: 10px;
	color: red;
	font-size: 12px;
	margin-top: 5px;
}

.hideBlock {
	display: none;
}

.errorDiv label {
	background: url(../images/iconError.png) 0 2px no-repeat;
	padding-left: 18px;
}

.userDiv {
	margin-top: 15px;
	font-size: 13px;
	color: #2e2e2e;
}

.usernameLabel {
	
}

.usernameInput {
	margin-top: 6px;
	border: 1px solid #d9d9d9;
	width: 277px;
	height: 25px;
	border-radius: 3px 3px;
	padding-left: 6px;
}

.passwdDiv {
	margin-top: 18px;
	font-size: 13px;
	color: #2e2e2e;
}

.passwdLabel {
	padding-top: 20px;
}

.passwdInput {
	margin-top: 6px;
	border: 1px solid #d9d9d9;
	width: 277px;
	height: 25px;
	border-radius: 3px 3px;
	padding-left: 6px;
}

.danmurphy .usernameInput,.danmurphy .passwdInput {
	border-color: #AFC59B;
}

.loginButton {
	font-size: 12px;
	margin-top: 20px;
	border-radius: 3px;
	color: white;
	padding: 3px 6px 6px 6px;
	cursor: pointer;
	font-weight: bold;
	margin-left: 3px;
}

.woolworths .loginButton,.metro .loginButton {
	background: #1a9f49;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4eb748),
		to(#149c49) );
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #4eb748, #149c49);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #4eb748, #149c49);
	border: solid 1px #1a9f49;
}

.petrol .loginButton {
	background: #1a9f49;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4eb748),
		to(#149c49) );
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #4eb748, #149c49);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #4eb748, #149c49);
	border: solid 1px #1a9f49;
}

.countdown .loginButton {
	background: #1a9f49;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#4eb748),
		to(#149c49) );
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #4eb748, #149c49);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #4eb748, #149c49);
	border: solid 1px #1a9f49;
}

.bws .loginButton {
	background: #e45e18;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f07f0a),
		to(#e45e18) );
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #f07f0a, #e45e18);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #f07f0a, #e45e18);
	border: solid 1px #e45e18;
}

.bigw .loginButton {
	background: #00a1e4;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#66cdf8),
		to(#00a1e4) );
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #66cdf8, #00a1e4);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #66cdf8, #00a1e4);
	border: solid 1px #20bdff;
}

.danmurphy .loginButton {
	background: #293b13;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#838f77),
		to(#293b13) );
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #838f77, #293b13);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #838f77, #293b13);
	border: solid 1px #51603f;
}

.thomasdux .loginButton {
	background: #a17c54;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c49a6d),
		to(#a17c54) );
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #c49a6d, #a17c54);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #c49a6d, #a17c54);
	border: solid 1px #ab845a;
}

.woolworths .loginButton:hover ,.metro .loginButton:hover {
	background: #1a9f49;
}

.petrol .loginButton:hover {
	background: #1a9f49;
}

.countdown.loginButton:hover {
	background: #1a9f49;
}

.bws .loginButton:hover {
	background: #e45e18;
}

.bigw .loginButton:hover {
	background: #00a1e4;
}

.danmurphy .loginButton:hover {
	background: #293b13;
}

.thomasdux .loginButton:hover {
	background: #a17c54;
}

.forgotPassword {
	padding-left: 83px;
}

.forgotPassword a {
	text-decoration: none;
}

.woolworths .forgotPassword a,.metro .forgotPassword a {
	color: #00502b;
}

.petrol .forgotPassword a {
	color: #00502b;
}

.countdown .forgotPassword a {
	color: #00502b;
}

.bws .forgotPassword a {
	color: #d65100;
}

.bigw .forgotPassword a {
	color: #4ba4c4;
}

.danmurphy .forgotPassword a {
	color: #293b13;
}

.thomasdux .forgotPassword a {
	color: #a17c54;
}

.forgotPassword a:hover {
	color: #2e2e2e;
}

.footerfixed {
	
}

/* Styles for Footer */
.footerWrapper {
	background-color: #d3d3d3;
	color: #494949;
	padding: 15px 20px;
	overflow: auto;
	position: absolute;
	bottom: 0;
	width: 940px;
	height: 15px; /*My change*/
	min-width: 940px;
}

.footer {
	overflow: auto;
	padding: 0px; /*My change*/
	width: 940px;
}

.footer .copyrightsInfo {
	float: left;
}

.footer .policyInfo {
	float: right;
}

.footer .policyInfo a {
	color: #494949;
}

.woolworths .footer .policyInfo a:hover ,.metro .footer .policyInfo a:hover {
	color: #619d1c;
}

.petrol .footer .policyInfo a:hover {
	color: #619d1c;
}

.countdown .footer .policyInfo a:hover {
	color: #619d1c;
}

.bws .footer .policyInfo a:hover {
	color: #d65100;
}

.bigw .footer .policyInfo a:hover {
	color: #4ba4c4;
}

.danmurphy .footer .policyInfo a:hover {
	color: #293b13;
}

.thomasdux.footer .policyInfo a:hover {
	color: #a17c54;
}

.footer .policyInfo label.divider {
	padding: 0 5px;
}
